.snippetContainer {
  border-radius: 10px;
  background-color: #0b3766;
  margin-top: 1rem;
  width: 100%;
}

.snippetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #194488;
  padding: 0.5rem 1rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 1rem;
}

.snippetContent>pre {
  overflow: auto;
  padding: 1rem;
  scrollbar-color: #043160 #0b3766;
  max-height: calc(100vh - 280px);
}

.snippetContent>pre::-webkit-scrollbar {
  background-color: #0b3766;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.snippetContent>pre::-webkit-scrollbar-thumb {
  background-color: #043160;
  border-radius: 10px;
}

@-moz-document url-prefix() {
  .snippetContent>pre {
    margin-right: 1rem;
  }
}

.copyButtonContainer {
  position: relative;
}

.copyButton {
  background-color: #194488;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.copyButton:hover {
  color: #ee7203;
}

.tooltip {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -175%);
  white-space: nowrap;
  background-color: #0b3766;
  padding: 0.5rem;
  z-index: 100;
  box-shadow: 0 0 2px 0.2px #05254a;
  border-radius: 0.25rem;
  width: 100px;
  text-align: center;
  font-size: 0.8rem;
}

.tooltip::before {
  content: "";
  position: absolute;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid #0b3766;
  top: 97%;
  left: 2.55rem;
}

.tooltipHidden {
  display: none;
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.dropdownSelect {
  background-color: #194488;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  padding-left: 2rem;
  text-align: right;
  font-size: 1rem;
}

.dropdownSelect:focus-visible {
  outline: none;
}

.selectItem {
  background-color: #194488;
  color: white;
  cursor: pointer;
}

.spacer {
  height: 12px;
  border-left: 1px solid #e3e8ee;
  opacity: .2;
  margin-right: -1px;
}