.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.navList {
  display: flex;
  list-style: none;
}

.navItem {
  margin-left: 1rem;
}

.navLink {
  text-decoration: none;
  color: #64adac;
  font-weight: bold;
}