.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgba(59, 65, 94, 0.5), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.navListRight,
.navListLeft {
  display: flex;
  list-style: none;
}

.navListRight {
  padding: 0 1rem 0 0;
}

.navItem {
  margin-left: 1rem;
  position: relative;
}

.navLink {
  text-decoration: none;
  color: #64adac;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdownMenu {
  position: absolute;
  display: none;
}

.dropdownMenuOpen {
  position: absolute;
  display: block;
  padding: 0.5rem 2rem;
  z-index: 100;
  box-shadow: 0 0 2px 0.2px #05254a;
  border-radius: 0.25rem;
  background-color: #0b3766;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.dropdownMenuOpen::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 3.75rem;
  border: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #0b3766;
}

.chevron {
  margin-left: 0.5rem;
}

.sectionDropdown {
  display: none;
}

@media screen and (max-width: 1000px) {
  .sectionDropdown {
    display: block;
  }
}

.navbarToggle {
  cursor: pointer;
  display: none;
}

.navbarToggleLine {
  width: 2rem;
  height: 0.25rem;
  background-color: #64adac;
  margin: 2px;
  border-radius: 0.25rem;
}

.docsNote {
  padding-left: 1rem;
}

@media screen and (max-width: 1000px) {
  .nav {
    align-items: flex-start;
  }

  .navbarToggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 1rem 0 0;
  }

  .navListRight {
    display: none;
  }

  .navListRightOpen {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .dropdownMenuOpen {
    position: static;
    display: block;
    padding: 0;
    padding-left: 0.5rem;
    z-index: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    white-space: nowrap;
    transform: none;
  }

  .dropdownMenuOpen::before {
    content: none;
  }
}