.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
  padding: 5rem;
  max-width: 1450px;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    gap: 1rem;
  }
}

.container>article {
  flex: 1;
  min-width: 0;
  width: 100%;
  max-width: 600px;
}

@media screen and (min-width: 1200px) {
  .container>article {
    position: sticky;
    top: 5rem;
  }
}

.container>article>p {
  margin-top: 20px;
}

.container>article code {
  color: white;
  background-color: #0b3766;
  border-radius: 5px;
}

.container>article>p>code,
.container>article>table code {
  padding: 0.1rem 0.5rem;
}

.container>article:nth-child(1)>h1 {
  color: #ee7203;
  font-size: 40px;
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .container>article:nth-child(2)>h1:nth-child(1) {
    padding-top: 75px;
  }
}

.container>article:nth-child(2)>h1:not(:first-child) {
  margin-top: 1rem;
}

.container>article h2,
.container>article h3 {
  margin-top: 1rem;
}

.container table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

.container table>thead>tr>th,
.container table>tbody>tr>td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #0b3766;
}

.container table>thead>tr>th {
  white-space: nowrap;
}

.container a {
  text-decoration: none;
  color: #64adac;
  font-weight: bold;
}

.container ul {
  padding: 0;
  margin: 0;
  list-style: circle;
  margin-top: 1rem;
  margin-left: 1rem;
}